@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: Source Code Pro Semibold;
    font-size: 16px;
    min-height: 0;
    padding: 2px;
    margin: 0;
}

window#waybar {
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    background: @background;
    color: @foreground;
    opacity: 1.0;
}

#workspaces button {
    color: @foreground;
    padding: 0 10px;
}

#workspaces button.focused {
    border-bottom: 3px solid @foreground;
}

#mode {
    border-bottom: 3px solid @color6;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    padding: 0 10px;
}
